.html {
  margin: 0;
  padding: 0;
}

.App{
  margin-top: 1;
  margin-right: 2;
  margin-bottom: 1;
  margin-left: 2;
  padding: 0;
  text-align: center;
  background-color: #369f14;
  min-height: 98vh;
  border-style: double;
} 

.App-header {
  margin: 0;
  padding: 0;/*
  width: 654vh;
  height: 275vh;*/
  background-color: #369f14;
  max-height: 275vh;
  display: flex-start;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-svglogo {
  /*animation: App-logo-spin infinite 20s linear;*/
  margin: 0;
  padding: 0;
  display: flex-start;
  height: 72vmin;
  border-image-slice: fill;
  border-style: dashed;
  position: relative;
  top: 15px;
  bottom: 15px;
}

.section {
  margin: 0;
  padding: 0;
  display: flex-start;
  /*
  min-width: 150vh;
  border-style: solid;
  font-family: cursive;*/
}

.main {
  display: flex-end;
  /*font-size: clamp(1.8rem, 2.5vw, 2.8rem);
*/}
.p {
  font-size: large;
  display: relative;/*
  pointer-events: visibleFill;*/
}
/*max-width: 100vh;
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  
  box-sizing: content-box;
  border: thin;
  font-size: calc(10px + 2vmin);
}*/

.App-link {
  margin: 0;
  padding: 0;
  color: #369f14;
  position: relative;
}

.container {
  margin: 0;
  padding: 0;
  bottom: 15px;
  align-items: center;
  }

.button {
  background-color: yellowgreen;
}

.LambdaDemo{
  color: darkviolet;
}

/*#en-markup-loading-spinner img {
    position: relative;
    top: 0px;
    left: 0px;
    animation-name: rotateSpinner;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}*/



/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
